#Main-Navigation {
	color: #fff;
}

#Main-Navigation-List {
	background-color: #000;
	padding: 1.5em 0em;
	display: grid;
	justify-items: center;
	align-items: center;
	overflow: hidden;
	grid-template-areas: 
	"Home Problems Resources";
}
#Main-Navigation-List a {
	color: #fff;
}
#Main-Navigation-List a:hover {
	color: #ddd;
}
#Nav-Home {
	grid-area: Home;
}
#Nav-Resources {
	grid-area: Resources;
}
#Nav-Dropdown-Container {
	text-align: center;
	overflow: hidden;
	grid-area: Problems;
}
#Nav-Resources-Dropdown-Container {
	text-algin: center;
	overflow: hidden;
	grid-area: Resources;
}
#Dropdown-Content {
	background: inherit;
	position: absolute;
	text-align: left;
	display: none;
}
#Resources-Dropdown-Content {
	background: inherit;
	position: absolute;
	text-align: left;
	display: none;
}
#Dropdown-Text {
	padding: 0px;
}
#Dropdown-Content a {	
	padding: 0.5em 0.5em;
	background-color: transparent;
	display: block;
}
#Resources-Dropdown-Content a {
	padding: 0.5em 0.5em;
	background-color: transparent;
	display: block;
}

#Nav-Dropdown-Container:hover {
	background-color: #333;
}
#Resources-Dropdown-Content a {
	background-color: #333;
}
#Nav-Dropdown-Container:hover #Dropdown-Content {
	display: block;
	z-index: 1;
	overflow: all;
}
#Nav-Resources-Dropdown-Container:hover #Resources-Dropdown-Content {
	display: block;
	z-index: 1;
	overflow: all;
}
#Dropdown-Content a:hover {
	background-color: #555;
}
#Resources-Dropdown-Content a:hover {
	background-color: #555;
}